@import '../../node_modules/bulma/bulma.sass';

$verde_claro: #00393b;
$verde_oscuro: #003133;
$blanco: #fef7f4;
$celeste: #31a5bd;
$rojo: #7b2d26;
$alto: 100vh;

body{
	min-height: $alto;
	background: $verde_claro;
	font-family: sans-serif;
}

.contenedor{
	margin: 0 auto;
	display: flex;
	justify-content: center;
	background: $verde_claro;
}
.parte-no-visible{
	display: none;
}
.contenedor-header{
	padding: 28px 0;
	.header-app{
		width: 628px;
		background: $verde_claro;
		input{
			background: $verde_oscuro;
			color: $blanco;
			font-size: 70px;
			width: 135px;
			height: 100px;
			border: 0;
			text-align: center;
			display: inline-block;
		}
		span{
			background: $verde_claro;
			color: $blanco;
			font-size: 72px;
			padding: 0 4.6px;
			display: inline-block;
		}
	}
}

.contenedor-botones{
	padding: 0 0 28px 0;
	.botones-app{
		width: 628px;
		button{
			cursor: pointer;
			border: 0;
			display: inline-block;
			background: none;
			color: $blanco;
			height: 63px;
			font-size: 30px;
			background: $verde_oscuro;
			transition: .3s;
		}
		button:focus{
			background: rgba(0, 0, 0, 0.2);
		}
		.principales{
			button{
				width: 310px;
			}
			button:nth-child(1){
				margin-right: 8px;
			}
		}
		.secundarios{
			button{
				margin-top: 8px;
				width: 628px;
			}
		}
	}
}

.contenedor-lista-tiempos{
	padding: 0 0 28px 0;
	min-height: 369px;
	.lista-tiempos-app{
		width: 628px;
		.item{
			border-bottom: 4px solid $verde_oscuro;
			display: flex;
			align-items: center;
			padding: 20px;
			button{
				display: inline-block;
				border: 0;
				color: $blanco;
				cursor: pointer;
				box-shadow: 5px 5px 2px $verde_oscuro;
			}
			button:active{
				transform: scale(0.9)
			}
			.boton-agregar-principal{
				width: 108px;
				height: 71px;
				font-size: 40px;
				background: $celeste;
			}
			.texto{
				color: $blanco;
				font-size: 30px;
				margin-left: 20px;
				letter-spacing: 2px;
			}
			.efecto-boton{
				height: 100%;
				width: 100%;
				display: inline-block;
				position: relative;
				display: flex;
				align-items: center;
				.boton-eliminar{
					position: absolute;
					right: 0;
					width: 150px;
					height: 43px;
					font-size: 24px;
					background: $rojo;
					transition: .3s;
				}
			}
		}
		.item:last-child{
			border: 0;
		}
	}
}
.footer-app{
	a{
		font-size: 20px;
		color: $blanco;
	}
}